@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Sawarabi+Mincho&family=Sulphur+Point:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    position: relative;
    background-color: #100001;
}

body::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(8px);
}

/* BARRA DE NAVEGAÇÃO */

.header {
    padding: 20px;
}

.navbar a{
    font-size: 50px;
    color: white;
    text-decoration: none;
    transition: all ease 0.4s;
}

.navbar a:hover{
    color: #aa1c15;
}

/* CONTEUDO DO SITE */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Sawarabi Mincho", serif;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

@media screen and (max-width: 425px) {
    .title{
        flex-direction: column-reverse;
    }
    .title-text {
        width: 280px;
        padding: 17px;
        text-align: center;
        align-items: center;
    }
    .title-text h1 {
        width: 200px;
    }
    .subtitle {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .kurapika-title{
        padding-top: 30px;
    }
    .media {
        width: 200px;
    }
}

.kurapika-title {
    width: 170px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
}

.title-text{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.title-text h1 {
    font-size: 50px; 
}

.media {
    max-width: 1180px;
    padding: 10px 30px;
    margin: auto;
}

.subtitle {
    padding-bottom: 40px;
}

.subtitle .title {
    padding: 0;
}

/* FOTOS */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-bottom: 40px;
}

.container img, video {
    transition: .15s linear;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.container img:hover, video:hover{
    transform: scale(1.06);
    cursor: pointer;
}

/* CLASSES PARA ANIMAÇÃO NO SCROLL */

.animate-on-scroll {
    opacity: 0;
    transform: translateX(-100px);
    transition: all .4s ease-out;
    transition-delay: 0.2s;
    filter: blur(4px);
}

.animate {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
}

.box:nth-child(2), .box:nth-child(5) {
    transition-delay: 0.4s;
}

.box:nth-child(3), .box:nth-child(6) {
    transition-delay: 0.6s;
}

@media screen and (max-width: 1119px) {
    .box:nth-child(2), .box:nth-child(4), .box:nth-child(6) {
        transition-delay: 0.4s;
    }
    .box:nth-child(3), .box:nth-child(5) {
        transition-delay: 0.2s;
    }
}

@media screen and (max-width: 794px){
    .box:nth-child(n){
        transition-delay: 0.2s;
    }
}